<h2>All Recipes</h2>
<% @recipes.all.each do |recipe| %>

    <h3>Name: <%=recipe.name%></h3>
    <h3>Ingredients: <%=recipe.ingredients%></h3>
    <h3>Cook Time: <%=recipe.cook_time%></h3>
    <br>

<% end %>
